body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

/* Change the background color of the button */
button {
background-color: rgb(129, 129, 230);
}

/* Change the text color of the button */
button {
color: white;
}

/* Add a border to the button */
button {
border: 2px solid black;
}

/* Change the font size of the button */
button {
font-size: 10;
}

/* Add some padding to the button */
button {
padding: 10px;
}

/* Use a custom font for the symbols */
button {
font-family: 'Arial', 'Helvetica Neue', sans-serif;
}

/* Add a hover effect to the button */
button:hover {
background-color: red;
}


/* Use a flex layout to organize the buttons and align them horizontally */
/*.container {
display: flex;
/*flex-wrap: wrap;  /* Wrap the elements to multiple lines */
/*justify-content: center;  /* Align the elements horizontally */
/*padding: 20px;  /* Add some padding to the container */
/*}
