{% extends "layout.html" %}

{% block content %}
  <h1>Welcome to the Forex Platform!</h1>
  <p>Thank you for choosing our platform for your forex trading needs. We hope you have a successful and profitable experience with us.</p>
  <p>Our platform offers a wide range of currency pairs to trade, as well as advanced trading tools and resources to help you make informed decisions. Whether you are a beginner or a seasoned trader, we have something to offer you.</p>
  <p>Take a look around and explore all that our platform has to offer. We are confident that you will find everything you need to succeed in the forex market.</p>
{% endblock %}